[submodule "tweet_nlp/pytorch-seq2seq"]
	path = tweet_nlp/pytorch-seq2seq
	url = https://github.com/IBM/pytorch-seq2seq.git
[submodule "saliency/pytorch-smoothgrad"]
	path = saliency/pytorch-smoothgrad
	url = https://github.com/pkdn/pytorch-smoothgrad.git
